#contact {
    margin: 0 auto;
    height: 50vh;
    line-height: 1.3;

    h2 {
        padding: 1rem 0;
        @include headingFontStyle(3rem);
    }

    input, textarea {
        width: 50rem;
        display: block;
        padding: 1%;
        margin: 2rem auto;
        border: white;
        border-bottom: solid black 1px;
        @include bodyFontStyle(1.5rem);
    }
    input[type="submit"] {
        width: 5rem;
    }

}