.contact {
    margin: 0 auto;
    height: 80vh;
    line-height: 1.3;
    position: relative;

    h2 {
        padding: 1rem 0;
        @include headingFontStyle(3rem);
    }

    .formContainer {
        background:#e4dfda;
        width:70%;
        padding:125px;
    }

    .linkContainer {
        position: absolute;
        bottom: 50%;
        left:-3%;
    }

    input, textarea {
        width: 50rem;
        display: block;
        padding: 1%;
        margin: 2rem auto;
        border: white;
        background: transparent;
        border-bottom: solid #222 1px;
        @include bodyFontStyle(1.5rem);
    }

    input:focus, textarea:focus {
        background-color: rgba(250, 250, 250, 0.664);
    }

    textarea {
        min-height: 100px;
        resize: none;
    }

    input[type="submit"] {
        @include buttonLinkStyle(1.8rem);
        width: 10rem;
        border: none;
        margin-left:0;
    }

    input[type="submit"]:hover {
        @include buttonLinkStyleHover;
    }

    i {
        font-size: 5rem;
        color:#222;
        display: block;
        font-weight: normal;
    }

    ul a {
        text-decoration: none;
    }

    i:hover, i:focus {
        -webkit-text-fill-color: #222;
    }

    form a {
        font-size: 1.8rem;
    }

}

@media only screen and (max-width: 900px) {

    body {
        margin: 0 5%;
        overflow-x: hidden;
    }
    .contact .linkContainer {
        left: 0%; 
    }
}
@media only screen and (max-width: 700px) {
   
    .contact {
        .formContainer {
            width: 100%;
            padding: 5%;
        }
        .linkContainer {
            position: static;
            background-color: #e4dfda;
        }
        ul {
            display: flex;
            justify-content: space-evenly;
        }
        input, textarea {
            width: 75%;
        }
        form a, input[type="submit"] {
            display: table;
            margin: 0 auto;
        }
    }
}