html {
    font-size: 62.5%
}

.wrapper {
    max-width: 800px;
}

a {
    @include bodyFontStyle(1.2rem);
    line-height: 2rem;
    background-color: #222;
    color: white;
    font-weight: 700;
    text-shadow: none;
}